// @import 'src/scss/variables.scss';
.card-book {
    padding: 16px;
    display: flex;
    flex-direction: column;
    width: 230px;
    margin: 10px;
    cursor: pointer;
    align-items: flex-start;
    .lazy-load-image-background {
        text-align: center;
        max-height: 325px;
        min-height: 325px;
    }
    .book-info-container {
        justify-content: space-between;
        align-items: center;
        // display: flex;
        .book-title {
            margin-top: 10px;
            color: var(--dark-color);
            margin-bottom: 0px;
            font-size: 18px;
            font-weight: 500;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .book-author {
            margin-top: 5px;
            color: var(--light-color);
            margin-bottom: 10px;
            font-size: 14px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .book-ratings {
            font-size: 14px;
            color: var(--light-color);
            margin-left: 5px;
        }
    }
}