$medium: 767px;
.btn {
    margin: 10px !important;
    padding: 7px 20px !important;
    border-radius: 2px !important;
    border: 1px solid #DDE2E4 !important;
    height: 36px !important;
    // &:hover {
    //     color: rgba(0, 0, 0, 0.85) !important;
    // }
}

.ant-btn:focus, .ant-btn:hover {
    // color: rgba(0, 0, 0, 0.85) !important;
}

.btn-center {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.try-premium-btn {
    background-color: #263f61 !important;
    color: #fff !important;
    &:hover {
        background-color: #fff !important;
        color: #263f61 !important;
    }
}

.show-on-mobile {
    display: none !important;
    @media screen and (max-width: $medium) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
