.book-container {
    padding-top: 1rem;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    max-width: 99%;
    // remove this
    justify-content: center;
}