.login-container {
    margin: 10px;
}

.login-body {
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.loginBtn {
    box-shadow: none !important;

    div {
        background: none !important;
        display: flex;
        @media screen and (max-width: 450px) {
            margin-right: 0px !important;
        }
    }
}
.bibliophiles {
    height: 180px;
    opacity: 80%;
    margin-top: 20px;
}
.app-title {
    color: var(--dark-color);
    font-weight: 600;
    font-size: 18px;
}
.app-name {
    font-weight: 700;
    font-size: 22px;
}