.login-container {
    margin: 10px;
}

.login-body {
    display: flex !important;
    justify-content: center;
    align-items: center;
}
.loginBtn {
    box-shadow: none !important;

    div {
        background: none !important;
    }
}