.card-item-grid {
    margin: 0;
    padding: 10px 10px 22px 10px !important;
    .user-card-container {
        border: 1px solid #e1e4e6 !important;
        border-radius: 4px !important;
        width: 100%;
    }
}