@mixin  buttons($color, $hover-color, $radius: 2px) {
    background-color: #{$color};
    border-radius: #{$radius};
    border-color: #{$hover-color};
    &:hover, &:active, &:active {
        background: #{$hover-color};
        background-color: #{$hover-color};
    }
}