@import "./variables";
@import "./mixins";

.btn-primary {
    @include buttons($primary-button-color, $primary-button-hover-color);
}

.form-input {
    border-color: $border-color;
    border-radius: $border-radius;
    background-color: $selected-comments-background;
    border-color: $border-color;
    color: $dark-color;

    &:hover, &:focus {
        border-color: #5b6b88;
    }
}

.label {
    color: $dark-color;
}

.site-wrapper {
    background-color: $body-bg;
}
ul {
    margin-top: 0;
  }