@import "./variables";
@import "./mixins";

.btn-primary {
    @include buttons(var(--dark-color), var(--dark-80-color));
}
// --secondary-button-border-color: #dde2e4;
//     --secondary-button-color: #fff;
//     --secondary-button-hover-color: #d9d9d9;
.btn-secondary {
    @include buttons(var(--secondary-button-color), var(--body-bg));
    color: var(--dark-80-color);
    border-color: var(--dark-80-color);
    &:hover {
        color: var(--dark-80-color);
        border-color: var(--dark-80-color);
    }
}
.form-input {
    border-color: var(--border-color);
    border-radius: var(--border-radius);
    background-color: var(--selected-comments-background);
    border-color: var(--border-color);
    color: var(--dark-color);

    &:hover, &:focus {
        border-color: #5b6b88;
    }
}

.label {
    color: var(--dark-color);
}

.site-wrapper {
    background-color: var(--body-bg);
    padding: 16px;
}
ul {
    margin-top: 0;
  }