$body-bg: #f6f8f9; // outter most background's bg color
$body-color: #ffffff; // bg-color

$dark-color: #172b4d; // dark to show imp fields 
$light-color: #6b7280;


// $links-color: #1692eb;
// hover??
$links-color: #0e73f6;

$input-field-color: #172b4d; // in edit mode
$hover-input-field-background: #f9f9f9; // on hover ???

// selected comments background
// check for hover;
$selected-comments-background: #f9f9f9;  
// on comments hover ??

// buttons

$primary-button-hover-color: #5799fc;
$primary-button-color: #3485ff;

$secondary-button-border-color: #dde2e4;
$secondary-button-color: #fff;
$secondary-button-hover-color: #d9d9d9;

$danger-button-color: #ff5757;
$danger-button-hover-color: #f57575;

// icons
$primary-icons-color: #595959;

$border-radius: 5px;


// image hover
// transition for image hover
$transition-time: 0.3s;

// ratings
// star
// hover color ??
$active-star-color: #ffd814;
$empty-star-color: #e0e2e7;

// fonts ??
$normal-font-size: 16px;
$title-font-size: 20px;